# Build artifacts

build/
*.o
*.a
*.so
MyGameServer

.cmake/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
cmake_modules/
compile_commands.json
Makefile


# Editor/OS specific

.vscode/
*.exe
*.dll
*.lib
*.exp
*.pdb
*.out
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
